# WordPress core
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/

# XAMPP or local server files
xampp/
*.zip
*.sql
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
