.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

.gelatine {
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.svg-animation {
  animation: svgAnimation 2.5s linear infinite;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.wiggle {
  animation: wiggle 2.5s linear infinite;
  animation-delay: 2s;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  35% {
    transform: rotateZ(-3deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* Home Marquee */

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-90%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Team Marquee */

@keyframes scroll-marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-90%);
  }
}
  
/* Sparkle animation */
@keyframes sparkle {
  0%,
  100% {
      transform: scale(1) rotate(0deg);
      opacity: 1;
  }
  50% {
      transform: scale(1.4) rotate(20deg);
      opacity: 0.6;
  }
}