  .hero-section-ride-reach {
    background: url("../images/portfolio-img/ride-reach/ride-reach-hero.png") center/cover no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .dec-hero-ride-reach {
    font-size: 18px;
  }

  .heading-hero-ride-reach {
    font-size: 40px;
    font-weight: 700;
  }

  .sub-heading-hero-ride-reach {
    font-size: 24px;
    font-weight: 500;
  }

  .pt-16 {
    padding-top: 16px;
  }
.b-16{
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
  .btn-custom {
    background: #007bff;
    color: #fff;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 30px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
  }

  .btn-custom:hover {
    background: #0056b3;
    color: #fff;
  }

  .ride-reach-hero-card {
    width: 100%;
    padding: 22px;
    color: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  .hero-card-heading-ride {
    font-size: 24px;
    font-weight: 700;
  }

  .hero-card-des-ride {
    font-size: 16px;
  }

  .mt-40-lg {
    margin-top: 40px;
  }

  .heading-img {
    background: url("../images/portfolio-img/ride-reach/heading-pmg-ride.png") center/cover no-repeat;
    width: 100%;
    height: auto;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
  }

  .ride-step-card {
    border-bottom: 1px solid #000;
    padding-bottom: 16px;
  }

  .ride-card-h4 {
    font-size: 24px;
    font-weight: 700;
  }

  .ride-step-card {
    width: 100%;
  }

  .icon-bg-2 {
    background-color: #D9D9D9;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .icon-bg {
    background-color: #D9D9D9;
    padding: 18px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .sub-heading-hero-ride-reach-icon {
    font-size: 24px;
  }

  .pt-16 {
    padding-top: 16px;
  }

  .heading-section {
    font-size: 32px;
    font-weight: 700;
    width: 80%;
  }

  .third-section-card-ride {
    background-color: #F7F7F7;
    padding: 16px;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }

  .section-heading-ride {
    font-size: 32px;
    font-weight: 700;
  }

  .d-sm {
    display: none;
  }

  .d-lg {
    display: flex;
  }

  .bg-blue-ride {
    background-color: #1D2C3C;
    padding: 16px 0;
  }

  .blue-card-ride {
    border: #fff 1px solid;
    padding: 25px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  .col-lg-6-ride-design {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-3-ride-design {
    flex: 0 0 auto;
    width: 25%;
  }

  .design-system-img {
    max-width: 60%;
    width: auto;
  }

  .design-system-box {
    width: 100%;
    height: auto;
    padding: 25px;
    border: #000 2px solid;
    border-radius: 30px;
  }

  .Regular {
    font-size: 16px;
    font-weight: 500px !important;
  }

  .medium {
    font-size: 16px;
    font-weight: bold !important;
  }

  .SemiBold {
    font-size: 16px;
    font-weight: 900 !important;
  }

  .stack-card {
    width: 100%;
    border: #414E5C 2px solid;
    padding: 20px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  .col-ride-stack-6 {
    flex: 0 0 auto;
    width: 50%;
  }
.icon-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb-ride-40{
  margin-bottom: 40px;
}
  @media only screen and (max-width: 991px) and (min-width: 820px) {
    .col-lg-6-ride-design {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-ride-stack-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-lg-3-ride-design {
      flex: 0 0 auto;
      width: 25%;
    }

    .col-lg-7-cus-ride {
      flex: 0 0 auto;
      width: 58.33333333%;
    }

    .col-lg-5-cus-ride {
      flex: 0 0 auto;
      width: 41.66666667%;
    }

    .d-sm {
      display: flex;
    }

    .d-lg {
      display: none;
    }

    .heading-img {
      background: url("../images/portfolio-img/ride-reach/heading-pmg-ride.png") center/cover no-repeat;
      width: 100%;
      height: auto;
      border-radius: 16px;
      align-items: center;
      padding: 35px;
      justify-content: center;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      display: flex;
    }

    .hero-section-ride-reach {
      background-image: url(../images/portfolio-img/ride-reach/ride-reach-hero.png);
      width: 100%;
      padding: 92px 0;
      height: auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
    }

    .mt-40-sm {
      margin-top: 40px;
    }

    .col-sm-6-ride {
      flex: 0 0 auto;
      width: 50%;
      margin-top: 16px;
    }

    .col-teb-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-sm-step {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-sm-hide {
      display: none !important;
    }

    .pt-teb-16 {
      padding-top: 16px;
    }

    .heading-section {
      font-size: 28px;
      font-weight: 700;
    }
  }

  @media only screen and (max-width: 819.99px) and (min-width: 394px) {
    .col-lg-6-ride-design {
      flex: 0 0 auto;
      width: 100%;
    }

    .col-ride-stack-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-lg-3-ride-design {
      flex: 0 0 auto;
      width: 50%;
      margin-top: 16px;
    }

    .col-lg-7-cus-ride {
      flex: 0 0 auto;
      width: 58.33333333%;
    }

    .col-lg-5-cus-ride {
      flex: 0 0 auto;
      width: 41.66666667%;
    }

    .d-sm {
      display: flex;
    }

    .d-lg {
      display: none;
    }

    .hero-section-ride-reach {
      background-image: url(../images/portfolio-img/ride-reach/ride-reach-hero.png);
      width: 100%;
      padding: 40px 0;
      height: auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
    }

    .heading-img {
      background: url("../images/portfolio-img/ride-reach/heading-pmg-ride.png") center/cover no-repeat;
      width: 100%;
      height: auto;
      border-radius: 16px;
      align-items: center;
      padding: 35px;
      justify-content: center;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      display: flex;
    }

    .mt-40-sm {
      margin-top: 40px;
    }

    .col-teb-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-sm-6-ride {
      flex: 0 0 auto;
      width: 50%;
      margin-top: 16px;
    }

    .col-sm-step {
      flex: 0 0 auto;
      width: 50%;
    }

    .col-sm-hide {
      display: none !important;
    }

    .pt-teb-16 {
      padding-top: 16px;
    }

    .ride-card-h4 {
      font-size: 20px;
      font-weight: 700;
    }

    .section-heading-ride {
      font-size: 28px;
      font-weight: 700;
    }
  }

  @media only screen and (max-width: 494px) {
    .col-lg-6-ride-design {
      flex: 0 0 auto;
      width: 100%;
    }

  

    .col-lg-3-ride-design {
      flex: 0 0 auto;
      width: 50%;
      margin-top: 16px;
    }

    .col-lg-7-cus-ride {
      flex: 0 0 auto;
      width: 100%;
    }

    .col-lg-5-cus-ride {
      display: none !important;
    }

    .d-sm {
      display: flex;
    }

    .d-lg {
      display: none;
    }

    .heading-img {
      background: url("../images/portfolio-img/ride-reach/heading-pmg-ride.png") center/cover no-repeat;
      width: 100%;
      height: auto;
      border-radius: 16px;
      align-items: center;
      padding: 35px;
      justify-content: center;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      display: flex;
    }

    .col-sm-6-ride {
      flex: 0 0 auto;
      width: 100%;
      margin-top: 10px;
    }

    .col-sm-step {
      flex: 0 0 auto;
      width: 100%;
    }

    .pt-16-sm {
      padding-top: 16px;
    }

    .col-teb-6 {
      flex: 0 0 auto;
      width: 100%;
    }

    .heading-section {
      font-size: 28px;
      font-weight: 700;
    }
  }

  @media only screen and (max-width: 393px) {
    .col-lg-5-cus-ride {
      display: none !important;
    }

    .hero-section-ride-reach {
      background-image: url(../images/portfolio-img/ride-reach/ride-reach-hero.png);
      width: 100%;
      padding: 40px 0;
      height: auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
    }

    .heading-img {
      background: url("../images/portfolio-img/ride-reach/heading-pmg-ride.png") center/cover no-repeat;
      width: 100%;
      height: auto;
      border-radius: 16px;
      align-items: center;
      padding: 35px;
      justify-content: center;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      display: flex;
    }

    .col-teb-6 {
      flex: 0 0 auto;
      width: 100%;
    }

    .dec-hero-ride-reach {
      font-size: 15px;
    }

    .heading-hero-ride-reach {
      font-size: 27.2px;
      font-weight: 700;
    }

    .sub-heading-hero-ride-reach {
      font-size: 20px;
      font-weight: 500;
    }

    .mt-40-sm {
      margin-top: 40px;
    }

    .hero-card-heading-ride {
      font-size: 18px;
      font-weight: 700;
    }

    .hero-card-des-ride {
      font-size: 15px;
    }

    .col-sm-hide {
      display: none !important;
    }

    .heading-section {
      font-size: 26px;
      font-weight: 700;
    }

    .ride-card-h4 {
      font-size: 18px;
      font-weight: 700;
    }

    .section-heading-ride {
      font-size: 26px;
      font-weight: 700;
    }
  }

 @media only screen and (max-width: 548px) {
  .col-ride-stack-6 {
      flex: 0 0 auto;
      width: 100%;
    }
 }
  @media only screen and (max-width: 575px) {
      .order-sm-1 {
        order: 1 !important;
    }
        .order-sm-2 {
        order: 2 !important;
    }
 }